@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Cairo", system-ui;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark{
  @apply bg-gray-800;
}


:root {
  --colorMain: #ff0077;
  --borderColor: #646464;
  --bgColor: #313131;
  --replaceColor: #cc7fa3;
  --bgPage: #151515;
  --paddingTop: 60px;
  --paddingBottom: 60px;
}

.custom_shadow {
  box-shadow: 10px 11px 4px rgba(0,0,0,0.25);
  border-radius: 1.5rem; /* يساوي rounded-3xl */
}

.coustom_container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .coustom_container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .coustom_container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .coustom_container {
    width: 1170px;
  }
}



.custom-rounded{
  border-radius: 37px 42px 54px 49px;
}


@media (max-width: 768px) {
  .show{
    @apply flex absolute top-[67px] p-3 w-full left-0 bg-[#EEE] flex-col items-start shadow-2xl;
    li  {
      @apply w-full mb-1;
      a{
        @apply block w-full
      }
    }

    div{
      @apply flex-col !items-start w-full;
      button{
        @apply w-full justify-center
      }
    }
  }
}

@keyframes pulse-custom {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(78, 136, 200, 0.4); }
  70% { transform: scale(1.1); box-shadow: 0 0 0 10px rgba(78, 136, 200, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(78, 136, 200, 0); }
}

.animate-pulse-custom {
  animation: pulse-custom 2s infinite;
}
